# === Backend ===
SECRET_KEY=<your_secret_key_here>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# === Database ===
DB_ENGINE=django.db.backends.postgresql
DB_NAME=<your_database_name>
DB_USER=<your_db_user>
DB_PASSWORD=<your_db_password>
DB_HOST=postgres
DB_PORT=5432


# === Frontend ===
NEXT_PUBLIC_API_URL=http://localhost:8800
